@{
    ViewData["Title"] = "Добавление контакта";
    Layout = "_Layout";
}

<link href="~/css/ownStylecss.css" rel="stylesheet" />
<link href="~/css/stylecss.css" rel="stylesheet" />

<body style="margin-left:20px; font-size:20px;">
    <div>
        <form action="~/MyDefault/GetDataFromViewField" method="post">
            <label>Фамилия</label><br/>
            <input type="text" name="surname" value="" /><br/>
            <label>Имя</label><br />
            <input type="text" name="name" value="" /><br />
            <label>Отчество</label><br />
            <input type="text" name="fatherName" value="" /><br />
            <label>Номер телефона</label><br />
            <input type="text" name="telephoneNumber" value="" /><br />
            <label>Адрес проживания</label><br />
            <input type="text" name="residenceAdress" value="" /><br />
            <label>Описание</label><br />
            <input type="text" name="description" value="" /><br />
            <br />
            <p><input type="submit" class="btn" value="Добавить" /></p>
        </form>
    </div>
    <hr />
</body>