@using Project19.Controllers;
@using Project19.Data;

<link href="~/css/bootstrap.css" rel="stylesheet" />
@{
    bool isAuth = false;
    if (ViewBag.IsAuth != null && ViewBag.IsAuth == true)
    {
        isAuth = true;
    }
    else
    {
        isAuth = false;
    }
}

@if (isAuth)
{
    <div class="btn-group pull-right" style="width: 650px; font-size:20px;">
        <a class="navbar-brand" href="~/">В начало</a>
        <a class="navbar-brand" href="/MyDefault/AddContact">Добавить контакт</a>
        <a class="navbar-brand" herf="#">@ViewBag.UserName в системе</a>
        <form method="post" asp-controller="Account" asp-action="Logout" id="logoutform" asp-antiforgery="true">
            <a class="navbar-brand" href="#" onclick="document.getElementById('logoutform').submit()">Выход</a>
        </form>
    </div>
}
else
{
    <div class="btn-group pull-right" style="font-size:20px;">
        <a class="navbar-brand" href="/Account/Login">Вход</a>
        <a class="navbar-brand" href="/Account/Register">Регистрация </a>
    </div>
}
